/* side pane style */
.side_pane {
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.side_pane_heading {
    margin: 0;
    display: inline;
}

.side_pane_path {
    margin-left: 5px;
    color: var(--color-accent-1);
    display: inline;
}

.side_pane_item {
    padding: 5px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.side_pane_item .file_name {
    color: var(--color-accent-1);
    margin: 0;
}

.side_pane_item .file_percent {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 0;
    font-style: italic;
}

.side_pane_item:hover {
    background: var(--background-modifier-hover);
    border-radius: 5px;
}


/* No note suggestion style */
#on_note_suggestions {
    padding: 10px;
    min-height: 50px;
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 15px;
    max-width: var(--file-line-width);
}

#on_note_suggestions::-webkit-scrollbar {
    display: none;
}

.on_note_suggestions_item {
    display: inline;
    margin: 5px;
    color: var(--color-accent-1);
}

.on_note_suggestions_item a {
    display: inline;
    margin: 0px;
    color: var(--text-muted);
    font-weight: bold;
}
.cached_item{
    opacity: .9;
}

/* code block style */
.suggestion_code{
    margin-top: 5px;    
}

.suggestion_code li{

}

