/* side pane style */
.side_pane {
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.side_pane_heading {
    margin: 0;
    display: inline;
}

.side_pane_path {
    margin-left: 5px;
    color: var(--color-accent-1);
    display: inline;
}

.side_pane_item {
    padding: 5px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* overflow: hidden; */
}

.side_pane_item .file_name {
    color: var(--color-accent-1);
    margin: 0;
}

.side_pane_item .file_percent {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 0;
    font-style: italic;
}

.side_pane_item .file_content {
    white-space: initial;
    margin: 0;
    font-size: 13px;
}

.side_pane_item:hover {
    background: var(--background-modifier-hover);
    border-radius: 5px;
}


/* No note suggestion style */
#on_note_suggestions {
    padding: 10px;
    min-height: 50px;
    overflow-x: scroll;
    padding-bottom: 15px;
    max-width: var(--file-line-width);
    
    background: gray;

}

.on_note_suggestion_list{
    display: flex;
    align-items: flex-start;
    background: red;
}


#on_note_suggestions::-webkit-scrollbar {
    display: none;
}

.on_note_suggestions_item {
    width: 200px;
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

.on_note_suggestions_item p {
    /* display: inline; */
    /* white-space: nowrap; */
    white-space: initial;
    margin: 0;
    color: var(--text-muted);
    font-size: var(--font-smallest);
}

.on_note_suggestions_item a {
    display: inline;
    margin: 0px;
    color: var(--color-accent-1);
    font-weight: bold;
    font-size: var(--font-small);
}

.cached_item {
    opacity: .9;
}

/* code block style */
.suggestion_code {
    margin-top: 5px;
}

.suggestion_code li {}